/*
 - Project: TACAL
 - File: demo.css
 - Author: Nathan Healea
 - Created: 3/31/16
*/

.calendar-wrapper {
    /*margin: 3em auto;*/
    padding: 2em;
    /*border-radius: 5px;*/
    font-family: Inconsolata, Monaco, 'Andale Mono', monospace;
}

.calendar-wrapper #btnPrev,
.calendar-wrapper #btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.calendar-wrapper #btnPrev {
    float: left;
    margin-bottom: 20px;
}

.calendar-wrapper #btnNext {
    float: right;
    margin-bottom: 20px;
}

table {
    clear: both;
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
}

td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 7);
}

thead td {
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
}
tbody tr.days {
    font-weight: bold;
}
